html, body {
    height: 100%;
}

body {
    background-image: url("../images/ignasi_pattern_s.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
    color: #777777;
    text-decoration: none;  
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

div#header h1 {
    color: #ffffff;
    width: 240px;
    padding: 10px;
    background: #4aaaa5;
    margin: 0 auto;
    position: relative;
    top: 34px;
    right: 359px;
}

header {
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 1rem;
}

.maincontent {
    background-color: #ffffff;
    width: 960px;
    padding: 10px;
    clear: both;
    margin: 0 auto;
    margin-top: 120px;
}

.footer {
    color: #ffffff;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

div#navigation {
    float: right;
    position: relative;
    bottom: 10px;
    right: 180px;
}

img {
    float: left;
    padding-right: 10px;
}
